@tailwind base;
@tailwind components;
@tailwind utilities;

@media (min-width: 350px) {
  .background-gradient::before {
    background: radial-gradient(
      20% 50% at 50% 50%,
      rgba(178, 70, 241, 0.376) 0%,
      rgba(37, 38, 44, 0) 100%
    );
    z-index: -10;
    content: "";
    position: absolute;
    inset: 0px;
    transform: scale(1);
    pointer-events: none;
  }
}

.switch-lang { 
  cursor: pointer;   
}
.switch-lang:hover .lang-dropdown {
  display: block;
} 
.current-lang { 
  padding: 2px 5px 5px 5px;
  border-radius: 10px;
}
.lang-flag {
  width: 25px;
  display: inline-block;
}
.lang-text {
  display: inline-block;
  margin-left: 4px;
  vertical-align: top;
  margin-top: 2px;
}

.lang-dropdown {
  display: none; 
  border-radius: 10px; 
}
.selecting-lang {
  padding: 3px 5px 3px 5px;
  cursor: pointer;
  border-radius: 10px;
}
.selecting-lang:hover {
  background: #63788c;
}
 
@media (max-width: 476px) { 
  .containerLangs{margin-bottom: 25px;} 
  .mobileshort{font-size: 30px;}
}
 
 
  .containerContentBlog{
   margin: 0 auto;
  } 
  
  
@media (max-width: 450px) {   
  img{ 
    max-width: 300px !important; 
  } 
  .card-post{
   zoom: 75%;   
   }
}

@media (max-width: 480px) { 
  .mobileNot{ 
   display: none !important;
  }
}
 
  .sombrita{-webkit-box-shadow: 0px 0px 30px -11px rgba(0,0,0,0.53);
    box-shadow: 0px 0px 30px -11px rgba(0,0,0,0.53);
  } 

  img{
    margin: 0 auto; 
    max-width: 500px;
    border-radius: 32px ;
  }

  .forcedImage{
    margin:0 !important;  
    border-radius:0px!important;
  }


  .card-post{
    display: flex; 
    gap: 4;    
   }

   .card-post:hover{
    filter: brightness(50%);  
   }

  
@media (min-width: 450px) { 
  .likeCounter{ margin-top:-50px }
}
 
/* Animation */@keyframes fadeInUp{from{transform:translate3d(0,0,0);opacity:0;}to{transform:translate3d(0,-8px,0);opacity:1;}}@-webkit-keyframes fadeInUp{from{transform:translate3d(0,0,0);opacity:0;}to{transform:translate3d(0,-8px,0);opacity:1;}}.blog-animation{animation-duration:300ms;animation-fill-mode:both;-webkit-animation-duration:300ms;-webkit-animation-fill-mode:both;opacity:-1;animation-name:fadeInUp;-webkit-animation-name:fadeInUp;}